<h2 mat-dialog-title>
  {{ student.userId ? 'Editar aluno' : 'Registrar novo aluno' }}
</h2>

<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="student.name" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="student.email" type="email" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end" class="full-width">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="register()">
    {{ student.userId ? 'Salvar' : 'Registrar' }}
  </button>
</mat-dialog-actions>
