<div class="login-container">
    <mat-card>
      <h2>Login do Admin</h2>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required />
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Senha</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required />
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Entrar</button>
      </form>
    </mat-card>
  </div>
  